
<label for="all"> All</label>
<input type="text" ng-model="search.$" id="all" class="data-table__search">
<table class="table table-hover table-bordered table-striped data-table">
    <thead>
            <tr>    
                <th class="data-table__header">
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="data-table__sort">Name</a>
                    <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'position'; sortReverse = !sortReverse" class="data-table__sort">Position</a>
                    <span ng-show="sortType == 'position' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'position' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'salary'; sortReverse = !sortReverse" class="data-table__sort">Salary</a>
                    <span ng-show="sortType == 'salary' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'salary' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'start_date'; sortReverse = !sortReverse" class="data-table__sort">Start Date</a>
                    <span ng-show="sortType == 'start_date' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'start_date' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'office'; sortReverse = !sortReverse" class="data-table__sort">Office</a>
                    <span ng-show="sortType == 'office' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'office' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'extn'; sortReverse = !sortReverse" class="data-table__sort">Extn</a>
                    <span ng-show="sortType == 'extn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'extn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th>Action</th>
            </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="user in users | limitTo: 5">-->
        <!--<tr ng-repeat="user in users | orderBy: 'name'">-->
        <tr ng-repeat="user in data | filter: search | orderBy:sortType:sortReverse">
        <!--<tr ng-repeat="user in users">-->
            <td>{{user.name}}</td>
            <td>
                {{user.position}}
            </td>
            <td>{{user.salary}}</td>
            <td>{{user.start_date}}</td>
            <td>{{user.office}}</td>
            <td>{{user.extn}}</td>
            <td><a href="">edit</a> <a href="">del</a></td>
        </tr>
    </tbody>
</table>
