

<div class="row">
    <div class="col-md-6">
        <label for="all"> All</label>
        <input type="text" ng-model="search.$" id="all" class="data-table__search">
    </div><!-- col -->
    <div class="col-md-6 text-right">
        <a href="#" class="btn btn-success">add user</a>
        <a href="#" class="btn btn-danger" ng-click="putData(data)">apdate date</a>
    </div><!-- col -->
</div><!-- row -->

<table class="table table-hover table-bordered table-striped data-table">
    <thead>
            <tr>
                <th class="data-table__header">
                    <i class="data-table__sort">id</i>
                </th>   
                <th class="data-table__header">
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="data-table__sort">Name</a>
                    <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'position'; sortReverse = !sortReverse" class="data-table__sort">Position</a>
                    <span ng-show="sortType == 'position' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'position' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'salary'; sortReverse = !sortReverse" class="data-table__sort">Salary</a>
                    <span ng-show="sortType == 'salary' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'salary' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'start_date'; sortReverse = !sortReverse" class="data-table__sort">Start Date</a>
                    <span ng-show="sortType == 'start_date' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'start_date' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'office'; sortReverse = !sortReverse" class="data-table__sort">Office</a>
                    <span ng-show="sortType == 'office' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'office' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'extn'; sortReverse = !sortReverse" class="data-table__sort">Extn</a>
                    <span ng-show="sortType == 'extn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'extn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th>Action</th>
            </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="user in users | limitTo: 5">-->
        <!--<tr ng-repeat="user in users | orderBy: 'name'">-->
        <tr dir-paginate="user in data | filter: search | orderBy:sortType:sortReverse | itemsPerPage:50">
        <!--<tr ng-repeat="user in users">-->
            <td>{{$index}}</td>
            <td>{{user.name}}</td>
            <td>
                {{user.position}}
            </td>
            <td>{{user.salary}}</td>
            <td>{{user.start_date}}</td>
            <td>{{user.office}}</td>
            <td>{{user.extn}}</td>
            <td><a href="#" class="btn btn-warning">edit</a> <a class="btn btn-danger" ng-click="delUser($index)">del</a></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
</dir-pagination-controls>

<form ng-submit="submit()" id='form'>
    <legend>Form title</legend>

    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" placeholder="name">
    </div>
    <div class="form-group">
        <label for="position">position</label>
        <input type="text" class="form-control" id="position" placeholder="position">
    </div>
    <div class="form-group">
        <label for="salary">salary</label>
        <input type="text" class="form-control" id="salary" placeholder="salary">
    </div>
    <div class="form-group">
        <label for="start_date">start_date</label>
        <input type="text" class="form-control" id="start_date" placeholder="start_date">
    </div>
    <div class="form-group">
        <label for="name">office</label>
        <input type="text" class="form-control" id="office" placeholder="office">
    </div>
    <div class="form-group">
        <label for="extn">extn</label>
        <input type="text" class="form-control" id="extn" placeholder="extn">
    </div>
    

    <button type="submit" class="btn btn-primary js-update-form">Submit</button>
</form>