

<div class="row">
    <div class="col-md-6">
        <label for="all"> All</label>
        <input type="text" ng-model="search.$" id="all" class="data-table__search">
    </div><!-- col -->
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-default" ng-click="openUserModal()">Add new user</button>
    </div><!-- col -->
</div><!-- row -->

<table class="table table-hover table-bordered data-table">


    <thead>
            <tr>    
                <th class="data-table__header">
                    <a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="data-table__sort">id</a>
                    <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="data-table__sort">name</a>
                    <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'username'; sortReverse = !sortReverse" class="data-table__sort">nick name</a>
                    <span ng-show="sortType == 'username' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'username' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="data-table__header">
                    <a ng-click="sortType = 'email'; sortReverse = !sortReverse" class="data-table__sort">E-mail</a>
                    <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th>Action</th>
            </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="user in users | limitTo: 5">-->
        <!--<tr ng-repeat="user in users | orderBy: 'name'">-->
        <tr ng-repeat="user in users | filter: search | orderBy:sortType:sortReverse"  style="cursor: pointer;">
        <!--<tr ng-repeat="user in users">-->
            <td ng-click="userInfo(user.id)">{{user.name}}</td>
            <td>
                <!-- <a ui-sref="app.user({id: {{user.id}}})">{{user.name}}</a> -->
                {{user.name}}
            </td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><a href="">edit</a> <a ng-click="deleteUser(user.id, $index)">del</a></td>
            
        </tr>
    </tbody>
</table>

<h1>{{jigurda}}</h1>
<h1>{{jigurda2}}</h1>  
<h1>{{jigurdaOlolo}}</h1>

<input type="text" ng-model="name">

<div ng-switch on="name">
    <div class="animate-switch" ng-switch-when="pizda">Джигуржа</div>
    <div class="animate-switch" ng-switch-when="Рельсы">Шпалы</div>
    <div class="animate-switch" ng-switch-when="Поезд">Хуёезд</div>
    <div class="animate-switch" ng-switch-default>OLOLO!!!111</div>
</div> 

<select name="" id="" ng-model="select" ng-options="user.id as user.name for user in users">
    <option value="">Get country</option>   
</select>
<!-- <name first="Vally" last="Pepyako"></name>

<name first="Ololo" last="Pisch pisch"></name> -->
<!-- СОСТОЯНИЯ ФОРМЫ
    myform.myinput.(state)
    stats:       css
    $pristine    ng-pristine         
    $dirty       ng-dirty 
    $invalid     ng-invalid
    $valid       ng-valid
    $submited    ng-submit
 -->
<style>
input.ng-invalid.ng-dirty {
    border: 1px solid red;
}
</style>
<!-- <form role="form" name="myForm" ng-submit="onSubmit(a)">
    <legend>Form title</legend> -->
    <!-- СОСТОЯНИЯ ИМПУТА
        myform.myinput.(state)
        stats:        css
        $untached     ng-untuched
        &tached       ng-tuched
        $pristine     ng-pristine
        $dirty        ng-dirty
        $invalid      ng-invalid
        $valid        ng-valid
     -->
<!--     <div class="form-group">
        <label for="myInput">label</label>
        <input type="email" class="form-control" id="myInput" placeholder="email" ng-model="a.email" required="" name="email">
        <span class="danger" ng-show="myForm.myInput.$error.email">
            not email
        </span>
        <span class="danger" ng-show="myForm.myInput.$error.required && myForm.myInput.$dirty">
            emty field
        </span>
        
        <label for="myInput2">label</label>
        <input type="password" class="form-control" id="myInput2" ng-model="a.pass" required="" minlength="5" ng-maxlength="10" name="myInput2">
        <span class="danger" ng-show="myForm.myInput2.$error.minlength">
            коротко
        </span>
        <span class="danger" ng-show="myForm.myInput2.$error.maxlength">
           длинно
        </span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button> -->


</form>